/* #region Hero banner 1 */
.hero-banner {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../images/contact/background1.jpg');
}

.hero-obsah h1 {
    color: #ffffff;
}

/*#endregion*/

/* #region Kontakt */

.kontakt-sekce {
    background-color: #f9f9f9;
    padding: 1px 20px;
}

.kontakt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 900px;
    margin: 60px auto;
}

.kontakt-formular label {
    display: block;
    margin-bottom: 5px;
}

.kontakt-formular input,
.kontakt-formular select,
.kontakt-formular textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.kontakt-formular textarea {
    resize: vertical;
}

.btn-odeslat {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

.kontakt-udaje address {
    font-style: normal;
    padding-top: 20px;
}

.kontakt-polozka {
    margin-bottom: 20px;
}

/* #endregion */

/* #region Responzivita */
@media (max-width: 800px){
    .kontakt-grid {
        grid-template-columns: 1fr; 
        gap: 60px;
    }

    .kontakt-formular input,
    .kontakt-formular select,
    .kontakt-formular textarea {
        box-sizing: border-box;
        padding: 12px;
        font-size: 18px;
    }

    .kontakt-formular label{    
        font-size: 19px;
    }
}
/* #endregion */
