/* #region Hero banner 1 */
/* Styl pro hero banner */
.hero-banner {
    background-image: url("../images/services/background1.png");
}

.hero-obsah h1 {
    color: #ffffff;
}

/*#endregion*/

/* #region Hero banner 2 */
.hero-banner-2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../images/services/background2.jpg');

    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-obsah-2 {
    text-align: center;
}

.hero-obsah-2 .kontakt {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 50px;
    margin-top: 20px;
    color: #ffffff;
}

.hero-obsah-2 h2 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.kontakt {
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.kontakt:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

/* #endregion */

/* #region Nabídka služeb */

.nabidka-sluzeb {
    padding: 25px 80px;
    background-color: #f9f9f9;
}

.nabidka-sluzeb li {
    margin-bottom: 20px;
    margin-top: 20px;
    list-style-type: none;
}

.nabidka-sluzeb .nabidka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 250px;
}

.nabidka-sluzeb .nabidka p {
    max-width: 500px;
    padding: 15px 0;
    font-size: 19px;
}

/* #endregion */

/* #region Responzivita */
@media (max-width: 800px) {

    .nabidka-sluzeb .nabidka {
        flex-direction: column;
        padding: 0;
    }

    .nabidka-sluzeb .nabidka p {
        max-width: 100%;
    }
}

/* #endregion */